<h2>Owners</h2>
<section>
  <div class="grid">
    <div>
      <button hx-get="/owners/new" hx-target="#content" type="button"> Add </button>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      {% for owner in owners %}
      <tr>
        <td> {{owner.id}} </td>
        <td> {{owner.name}} </td>
        <td>
          <button hx-get="/owners/{{owner.id}}" hx-target="#content" type="button" class="outline small-btn"> <i class="fas fa-pen"></i> Edit </button>
        </td>
        <td>
          <button hx-delete="/owners/{{owner.id}}" hx-target="#content" type="button" class="outline small-btn"> <i class="fas fa-trash-alt"></i> Delete </button>
        </td>

      </tr>
      {% endfor %}

  </table>
</section>