{% set obj_id = '' %}
{% if owner.id != 0%}
{% set obj_id = owner.id %}
{% endif%}

<form hx-post="/owners/{{obj_id}}" hx-target="#content" hx-ext='json-enc' >
    <input type="hidden" name="id" value="{{owner.id  }}" />
   <p> Name:<input type="text" name="name" value="{{owner.name }}" /> </p>
   <h3>Pets</h3>
   <div class="grid">
    <div>
        <button hx-get="/pets/new_row" hx-swap="beforeend" hx-target="#pets" > Add pet </button>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
 </div>
  
   <table>
       <thead>
           <th>Name</th>
           <th></th>
       </thead>
       <tbody id="pets"> 
        {% for pet in owner.pets %}
        <tr id="pet_{{pet.id}}">
            <td>
                <input type="hidden" name="pets_id_list" value="{{pet.id}}" />
                <input type="text" name="pets_name_list" value="{{pet.name}}" />
            </td>
            <td>
                <button hx-get="{{ url_for('static', path='/empty.html') }}" hx-target="#pet_{{pet.id}}" type="button" class="btn btn-danger" > <i class="bi-trash"></i> Delete </button> 
            </td>
        </tr>
        {% endfor %}
       </tbody>
   </table>
   <div class="grid">
       <div>
            <button>Submit</button>
       </div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
    </div>
</form>